<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: poppins;
            outline: none;
        }
        
        table,
        tr,
        th,
        td {
            border: 1px solid black;
        }
        
        tr,
        td {
            text-align: center;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apply for Guide Allocation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body style="background-color: aliceblue;">

    <div class="wrapper d-flex flex-column flex-wrap" style="position:relative; overflow: hidden;width: 100%;">
        <div class="row">
            <!--Position here made relative for experimental basis, Please make it fixed after it.-->
            <div class="col-sm-12 col-md-4 pt-3 sticky-top  pb-md-5" style="position: relative;background-image : url(/stylesheets/Left_Div.jpeg);background-repeat:no-repeat ;background-size:cover; height: 100%;">
                <strong><p class="normal-text ml-md-5 ml-sm-2 " style="color: whitesmoke; font-size: x-large; ">Guide Allocation<br>Table</p></strong>
                <strong><p class="col-auto col-lg-12 col-sm-12 " style=" color: aliceblue; font-size:larger; margin-left: -4%; margin-bottom: 99%;"></p></strong>
                <p><strong class="" style="font-size: x-large; color: antiquewhite;">GUIDE ALLOCATOR</strong></p>
                <strong class="" style="font-size:large; color: antiquewhite;  margin-left: 0%;">An Interactive Solution<br><span style="margin-left: 4%;">for Allocation of Guides.</span></strong>
                <br><br><br><br>
            </div>
            <!--Working Fine till this point-->
            <div class="col-md-8 col-sm-12" style="max-height: 100vh ; overflow-y: scroll;">
                <center>
                    <p class="normal-text " style="font-size: large; color: #dc3545;">This List can change for every entry.</p>
                    <p class="normal-text" style="color: #28a745">Don't share this list until confirmed with Administration.</p>
                    <table>
                        <tr>
                            <th>
                                SR. NO
                            </th>
                            <th colspan="4 ">
                                Members of Group
                            </th>
                            <th>
                                Allocated Guide
                            </th>
                        </tr>
                        <% console.log(user);console.log(guide); %>
                        <% for(var i=0; i < user.length; i++) { %>
                            <tr>
                                <td>
                                <%= i+1 %>
                                </td>
                                <td>
                                <%= user[i].mem1 %> <br>
                                <%= user[i].mem2 %> <br>
                                <%= user[i].mem3 %> <br>
                                <%= user[i].mem4 %> <br>
                                </td>
                                <td>
                                </td>
                            </tr>
                        <% } %>
                    </table>

                </center>
            </div>
        </div>
    </div>

</body>

</html>
